<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/404_page.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>
        <b>404</b>
      </h1>
      <p>
        It's fine , we can understand you just had a panic attack but you really
        need to type the correct url to access the website.
      </p>
    </div>
  </body>
</html>
