<% layout("layouts/boilerplate.ejs") %>

<div class="container w-50">
  <h1>Login</h1>
  <form action="/login" class="needs-validation" method="POST" novalidate>
    <label for="username" class="mt-1">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
    />

    <label for="password" class="mt-1">Password</label>
    <input
      type="password"
      class="form-control mb-2"
      id="password"
      name="password"
      required
    />

    <button class="btn btn-success">Login</button>
  </form>
</div>
