<% layout("layouts/boilerplate.ejs") %>

<div class="container w-50">
  <h1>Register</h1>
  <form action="/register" class="needs-validation" method="POST" novalidate>
    <label for="username" class="mt-1">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="user[username]"
      required
    />

    <label for="email" class="mt-1">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="user[email]"
      required
    />

    <label for="password" class="mt-1">Password</label>
    <input
      type="password"
      class="form-control mb-2"
      id="password"
      name="user[password]"
      required
    />

    <button class="btn btn-success">Register</button>
  </form>
</div>
